<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Bootstrap Visualization Dashboard</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href = "../static/css/style.css">
</head>
<body>
  <div class="topnav">
      <a class="active" href="/">Home</a>
      <a href="/about">About</a>
      <a href="/API">Data</a>
      <a href="/visualisations">Visualisations</a>
    </div>

    <div class="top-container">
      <h1>Data</h1>
      <p>Resources</p>
    </div>
    <div class="header" id="myHeader">
      <h2>My Header</h2>
    </div>

    <a href="/API/countries"><strong>/API/countries</strong></a>
    <p>Description: Json file with information of the countries:</p>
    <p><ul>
        <li>Country Code (to link to the earthquake table)</li>
        <li>Country Name</li>
        <li>Total Population (millions)</li>
        <li>HDI</li>
    </ul></p>
    <a href="/API/earthquakes"><strong>/API/earthquakes</strong></a>
    <p>Description: Json file with information of the earthquakes:</p>
    <p><ul>
        <li>USGS Earthquake ID</li>
        <li>Longitude</li>
        <li>Latitude</li>
        <li>Depth</li>
        <li>Timestamp</li>
        <li>Magnitude</li>
        <li>Country Code (to link to the country json file)</li>
    </p></ul>
    <a href="/API/countries_earthquakes"><strong>/API/countries_earthquakes</strong></a>
    <p>Description: An INNER JOIN of the countries and earthquakes table through the country code (earthquakes.country_id=countries.CountryCode)</p>















    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>

</body>
</html>